@page "/pubtable"
@using BlazorAppWithDatabase.Data.Models
@using BlazorAppWithDatabase.Data.Services
@inject IPubService PubService
<!--Pass up to master page-->
<PageTitle>Pubs Table</PageTitle>

<h1>Pubs Table</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_pubs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address Line 1</th>
            <th>City</th>
            <th></th>
            <th><input class="btn btn-primary" type="button" @onclick="@(Add)" value="Add" /></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pub in _pubs)
        {
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Enter Name" @bind="@pub.Name"/>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Enter Address Line 1" @bind="@pub.AddressLine1"/>
                </td>
                <td>
                    <input type="text" class="form-control"  placeholder="Enter City"  @bind-value="@pub.City" @onblur="() => Update(pub)" />
                </td>
                <td>
                    <input type="button" class="btn btn-success" @onclick="@(() => Update(pub))" value="Update"/>
                </td>
                <td>
                    <input type="button" class="btn btn-danger" @onclick="@(() => Delete(pub))" value="Delete"/>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @if (_saveConfirm)
    {
        <div style="@_saveConfirm" class="alert alert-success" role="alert">
           Record Updated
        </div>
    }
}

@code {
    private List<Pub>? _pubs;
    private bool _saveConfirm;

    private void Update(Pub pub)
    {
        //save data
        PubService.UpdatePub(pub);
        _saveConfirm = true;
    }

    private void Add()
    {
        //add on screen but don't save
        _pubs.Add(new Pub());
    }

    private void Delete(Pub pub)
    {
        //save data
        PubService.DeletePub(pub);
    }

    protected override async Task OnInitializedAsync()
    {
        _pubs = await PubService.GetPubsAsync();
    }
}
